Source: resolvusclient
Section: python
Priority: extra
Maintainer: Laurent Labatut <llabatut@knock.center>
Build-Depends: debhelper (>= 8), python, dh-virtualenv, dh-systemd
Standards-Version: 3.9.5

Package: resolvusclient
Architecture: amd64
Depends: ${python:Depends}, ${misc:Depends}, python
Description: Resolvus client
